/* fuente importada */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


:root {
    /* (font) */
    --font-rubik:'Rubik', sans-serif;

    /* primary colors */
    /* (sub-heading at the top of the app UI) */
    --Pale_Violet: hsl(276, 100%, 81%);
    /* (chat on the left) */
    --Moderate-Violet: hsl(276, 55%, 52%);
    /* (chat on the right) */
    --Desaturated-Dark_Violet: hsl(271, 15%, 43%);
    /* (placeholder text) */
    --Grayish_Blue: hsl(206, 6%, 79%);
    /* (main heading) */
    --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
    /* (paragraph) */
    --Dark_Grayish_Violet : hsl(270, 7%, 64%);

    /* secundary colors */
    --White: hsl(0, 0%, 100%);
    /* (app background) */
    --Light_Grayish_Violet : hsl(270, 20%, 96%);
    /* (submit button background) */
    --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);
    /* (radio button outline) */
    --Very_Light_Magenta: hsl(289, 100%, 72%);
    /* background figura fondo */
    --light-Grayish_Blue: rgb(236, 239, 241);

    /* Gradients */
    --Light-Magenta: hsl(293, 100%, 63%);
    --Light-Violet: hsl(264, 100%, 61%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-rubik);
    font-size: 16px;
    background-color:var(--Light_Grayish_Violet);
}

/* contenedor total */
.container-all{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

/* contendedor telefono */
.smartphone{
    width: 65%;
    padding:3%;
    border-radius:20px;
    background-color: var(--White);
}

/* contenedor total mensajes */
.container-messages{
    background:var(--Light_Grayish_Violet);
    border-radius: 20px;
    /* color:var(--White); */
}

/* fondo total - nombre de usuario */
.background-section-user{
    background-image: linear-gradient(to right , var(--Light-Violet),var(--Light-Magenta));
    border-radius: 25px 25px 10px 10px;
}

/* notch del telefono */
.notch{
    text-align: center;
    background-color: var(--White);
    width: 50%;
    margin: auto;
    height: 20px;
    border-radius: 0px 0px 15px 15px;
}

/* parte nombre de usuario */
.section-user{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* informacion del usuario */
.info-user{
    display:flex;
    align-items:center;
    width: 75%;
    justify-content: space-evenly;
    color:var(--Light_Grayish_Violet);
}

/* imagen - info usuario */
.info-user img{
    width: 15%;
    border-radius: 50%;
    border: 2px solid var(--White);
}

/*descripcion estado usuario - P */
.name-state-user p {
    font-size: 11px;
    color:var(--Pale_Violet);
}

/*descripcion estado usuario - H3 */
.name-state-user h3{
    font-size: 16px;
    color:var(--Light_Grayish_Violet);
}

/* tres puntos - info usuario */
.three-points{
    margin-right: 5%;
    color:var(--Light_Grayish_Violet); 
}

/* mensajes del usuario */
.user-messages{
    width: 57%;
    font-size: 10px;
    margin-top: 4%;
    margin-left: 2%;
    padding: 3%;
    border-radius: 10px 10px 10px 5px;
    background-color:var(--Grayish_Blue);
    color:var( --Moderate-Violet);
}

/* mis mensajes de texto */
.right-messages{
    width: 57%;
    font-size: 10px;
    margin-top: 4%;
    margin-right: 2%;
    padding: 3%;
    border-radius: 10px 10px 5px 10px;
    background-color:var(--White);
    color:var(--Desaturated-Dark_Violet);
}

/* contenedor de mis mensajes */
.me-messages{
    display: flex;
    justify-content:flex-end;
}

/* contenedor mis mensajes - imagenes perro */
.images{
    margin-top: 4%;
    margin-right:2%;
}

/* imagenes perro */
.images img{
    border-radius: 10px;
    width: 50px;
}

/* contenedor pago */
.pay {
    padding: 4%;
    font-size: 10px;
    font-weight:lighter;
    background-image: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
    color:white;
    margin-top: 4%;
    margin-left: 2%;
    width: 65%;
    border-radius:10px 10px 10px 5px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/* contenedor pago - P */
.pay p{
    font-size: 16px;
    font-weight: 500;
}


/* contenedor pago - I */
/* ----- */
.pay i{
    padding-right: 5px;
}
/* ----- */

/* contenedor - ingrese un mensaje */
.cont-type-message{
    display:flex;
    justify-content: center;
}

/* ingrese un mensaje */
.type-message{
    background-color:var(--White);
    color: var(--Grayish_Blue);
    margin-top: 7%;
    padding: 2%;
    margin-bottom: 3%;
    width: 90%;
    border-radius: 30px;
    font-size:12px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/*  texto placeholder  */
.type-message p{
    padding-left: 15px;
}

/* flecha enviar mensaje */
.arrow-send{
    background-color:var(--Very_Dark_Desaturated_Violet);
    color:var(--White);
    width: 9%;
    border-radius: 100px;
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%; 
}

/*  parrafo */
.paragraph-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    margin-top:7%;
}

/*  parrafo - H2 */
.paragraph-description h2{
    font-size: 42px;
    color:var(--Very_Dark_Desaturated_Violet);

}

/*  parrafo - P */
.paragraph-description p{
    width: 80%;
    margin-top: 3%;
    color: var(--Dark_Grayish_Violet);
}

/* figura fondo purpura */
.bgc-purple{
    width: 50%;
    height:60vh;
    background-image: linear-gradient(to right, var(--Light-Magenta), var(--Light-Violet));
    position:absolute;
    border-radius: 0px 0px 1000px 0px;
    z-index: -1;
}

/* figura fondo gris */
.bgc-gray{
    width: 50%;
    height:45vh;
    background-color:var(--light-Grayish_Blue);
    position:absolute;
    bottom: 0;
    right: 0;
    border-radius: 1000px 0px 0px 0px;
    z-index: -1;
}

/* responsive design */
@media only screen and (min-height: 865px){
    .container-all{
        display:flex;
        flex-direction: row;
        justify-content:center;
    }

    .smartphone{
        width: 19%;
        padding: 0.7%;
        margin:0% 7% 0% 4%;
    }

    .paragraph-description{
        width: 35%;
        text-align: left;
        align-items: flex-start;
        margin: 0% -5% 0% 0%;
        line-height:1.6;
    }

    .bgc-purple {
        width: 29%;
        height: 83vh;
        border-radius: 0px 0px 200px 190px;
    }

    .bgc-gray {
        width: 29%;
        height: 85vh;
        border-radius: 300px 0px 0px 0px;
    }


}
